<!-- Footer -->
<footer class="footer py-5">
    <div class="container-fluid px-5">
        <div class="row align-items-center justify-content-center text-center">
            <div class="col-12">
                <p class="footer-text mb-3">© 2026 Ibeh Henry. All rights reserved.</p>
                <div class="social-links justify-content-center">
                    <a href="https://www.linkedin.com/in/ifeanyi-henry-a5997632b" class="social-link"><i class="fab fa-linkedin"></i></a>
                    <a href="https://github.com/HenryIbeh999" class="social-link"><i class="fab fa-github"></i></a>
                    <a href="https://x.com/Henray4real" class="social-link"><i class="fab fa-twitter"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>
